@font-face {
  font-family: 'RobotMono';
  src: local('RobotMono'), url(./resources/Fonts/Roboto_Mono/static/RobotoMono-Regular.ttf),;
}
@font-face{
  font-family: 'RussoOne';
  src: local('RussoOne'), url(./resources/Fonts/Russo_One/RussoOne-Regular.ttf);
}
@font-face{
  font-family: 'BerkshireSwash';
  src: local('BerkshireSwash'), url(./resources/Fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf)
}

body {
  margin: 0;
  background-color: green;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
    
    